<div class="con">
   <h1 style="text-align: center; margin-top: 20px;"><strong>Contact Us</strong></h1>
   <br><p>Want to get in touch? We'd love to hear from you. Here's how you can reach us..</p><br><br>
   <p>&#9742; +91 9876543210</p><br>
   <p>&#9993;  hotel_management@ohms.com</p>
  
<table class = "table table-striped">
   <thead>
      
           <th> <a href="https://www.facebook.com/Capgemini/" class="fa fa-facebook">    Contact us by facebook</a>  </th>
           <th> <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQEqqniLwXi_ygAAAYcDHwPoIyteomINURL2UsS5xv5Q2FMnYWV1RthaSn38z8L6Uty-yYGAPqTi8k3T3PhH7Qjyt5xhgVCG_GG9CldoVSYq4s6iOofY6z0cs5kPi82SOOreoGE=&original_referer=&sessionRedirect=https%3A%2F%2F
            www.linkedin.com%2Fcompany%2Fcapgemini%2F" class="fa fa-linkedin">    Contact us by linkedin</a> </th>
           <th> <a href="https://www.youtube.com/user/capgeminimedia" class="fa fa-youtube">    Contact us by youtube</a> </th>
           <th> <a href="https://www.instagram.com/capgemini/" class="fa fa-instagram">    Contact us by instagram</a> </th>
           <th> <a href="https://twitter.com/CapgeminiEng" class="fa fa-twitter">    Contact us by twitter</a> </th>
   </thead>


