a {
margin-left: 20px;
text-align: center;
}

p{
        text-align: center;  
}
.row{
    text-align: center;
}
.row1{
    text-align: center;
}
.row2{
    text-align: center;
}
.row3{
    text-align: center;
}
