<div>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a2c4d1;">
    <a class="navbar-brand" href="#">
      <link rel="icon" href="favicon.ico" type="image/x-icon">
      <link rel="icon" href="hotel.png" sizes="32x32" type="image/png">
      <strong><span style="margin-left: 5px;">Online Hotel Management System</span></strong>   
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 100px;">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="manager/newHome" class="capsule-button">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="user/newHome" class="capsule-button">Home</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/about" class="capsule-button">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/contact" class="capsule-button">Contact Us</a>
          </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#"  routerLink="/login" class="capsule-button" style="margin-left: 90%;">Login</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link " href="#"  routerLink="/register" class="capsule-button" >Register</a>
        </li>  -->
        <!-- class="fa fa-registered" -->
        <!-- <li class="nav-item">
          <a class="nav-link " href="#" *ngIf="isLoggedIn && this.role=='MANAGER'" routerLink="/user/profile">Dashboard</a>
        </li> -->
       
          
      </ul>
    </div>
    <!-- <div>
      <footer class="footer" style="background-color: #a2c4d1; color: white; text-align: center; padding: 20px;">
        <p>&copy; 2023 Online Hotel Management System. All Rights Reserved.</p>
    </footer>
    </div> -->
  </nav>
</div>


  