<div class="reservation-details">
    <h2>Room Details</h2>
    <div class="detail">
        <span class="label">Room Type:   </span>
        <span class="value">{{room.roomType}}</span>
    </div>
    <!-- <div class="detail">
        <span class="label">Number of Children:</span>
        <span class="value">{{room.no_of_child}}</span>
    </div>
    <div class="detail">
        <span class="label">Number of Nights:</span>
        <span class="value">{{room.noOfNights}}</span>
    </div> -->
    <div class="detail">
        <span class="label">Check-in Date:   </span>
        <span class="value">{{room.checkInDate}}</span>
    </div>
    <div class="detail">
        <span class="label">Checkout Date:   </span>
        <span class="value">{{room.checkOutDate}}</span>
    </div>

    <!-- <div class="check" style="margin-top: 20px; text-align:center ;">
        <button  class="btn btn-primary" type="submit">Checkout</button>
    </div> -->
    <button routerLink="/manager/getRoom" class = "btn btn-info" style="margin-left: 40px">Go Back</button>
</div>

