<!-- <app-navbar-admin></app-navbar-admin> -->

<div class="container1">

    <table class="table text-center">

      <thead>

        <tr>

          <th>TransactionId</th>

          <th>BookingId</th>

          <th>Username</th>

          <th>Amount</th>

          <th>TransactionStatus</th>
        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let row of dataSource">

          <td>{{ row.transactionId }}</td>

          <td>{{ row.bookingId }}</td>

          <td>{{ row.username }}</td>

          <td>{{ row.amount }}</td>

          <td>{{ row.transactionStatus }}</td>

        </tr>

      </tbody>

    </table>
  </div>

