<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="container text-center">
                <img src="/assets/ro.png" width="200px" height="200px" alt="">
            </div>
            <h1 class="text-center">Add Room</h1>
            <form #roomForm="ngForm" (ngSubmit)="saveRoom()">
             
                <div class="form-group">
                    <label for=""><b>Room Type</b></label>
                    <input type="text" required #firstName="ngModel"
                    [class.is-invalid]="firstName.invalid && firstName.touched" class="form-control" name="firstName" [(ngModel)]="room.roomType">
                    <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First name require</small>
                </div>
                <div class="form-group">
                    <label for=""><b>checkInDate</b></label>
                    <input type="date" required #lastName="ngModel"
                    [class.is-invalid]="lastName.invalid && lastName.touched" class="form-control" name="lastName" [(ngModel)]="room.checkInDate">
                    <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last name require</small>
                </div>
                <div class="form-group">
                    <label for=""><b>checkOutDate</b></label>
                    <input type="date" required #pass="ngModel"
                    [class.is-invalid]="pass.invalid && pass.touched" class="form-control" name="password" [(ngModel)]="room.checkOutDate">
                    <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">Password name require</small>
                </div>
                
                <div class="form-group" style="margin-top: 20px; text-align:center ;">
                    <button [disabled]="roomForm.form.invalid" class="btn btn-primary" type="submit">Add Room</button>
                    <button type="button" class="btn btn-danger cancel" (click)="goBack()" style="margin-left: 20px;">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>