.reservation-details {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px; /* Adjust the width as needed */
    margin: 20px;
}

.reservation-details h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.detail {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    display: inline-block;
    width: 150px; /* Adjust the width as needed */
}

.value {
    display: inline-block;
    color: #555;
}
