<div class="reservation-details">
    <h2>Guest Details</h2>
    <div class="detail">
        <span class="label">Member Code:   </span>
        <span class="value">{{guest.memberCode}}</span>
    </div>
    <div class="detail">
        <span class="label">Phone Number:   </span>
        <span class="value">{{guest.phoneNumber}}</span>
    </div>
    <div class="detail">
        <span class="label">Name:   </span>
        <span class="value">{{guest.name}}</span>
    </div>
    <div class="detail">
        <span class="label">Gender:   </span>
        <span class="value">{{guest.gender}}</span>
    </div>
    <div class="detail">
        <span class="label">Email:   </span>
        <span class="value">{{guest.email}}</span>
    </div>
    <div class="detail">
        <span class="label">Company:   </span>
        <span class="value">{{guest.company}}</span>
    </div>
    <div class="detail">
        <span class="label">Address:   </span>
        <span class="value">{{guest.address}}</span>
    </div>

    <!-- <div class="check" style="margin-top: 20px; text-align:center ;">
        <button  class="btn btn-primary" type="submit">Checkout</button>
    </div> -->
    <button routerLink="/user/viewList" class = "btn btn-info" style="margin-left: 40px">Go Back</button>

</div>

