<div class="reservation-details">
    <h2>Reservation Details</h2>
    <div class="detail">
        <span class="label">Number of Adults:   </span>
        <span class="value">{{reserve.no_of_Adult}}</span>
    </div>
    <div class="detail">
        <span class="label">Number of Children:   </span>
        <span class="value">{{reserve.no_of_child}}</span>
    </div>
    <div class="detail">
        <span class="label">Number of Nights:   </span>
        <span class="value">{{reserve.noOfNights}}</span>
    </div>
    <div class="detail">
        <span class="label">Check-in Date:   </span>
        <span class="value">{{reserve.check_in_date}}</span>
    </div>
    <div class="detail">
        <span class="label">Checkout Date:   </span>
        <span class="value">{{reserve.checkout_date}}</span>
    </div>

    <div class="check" style="margin-top: 20px; text-align:center ;">
        <button routerLink="/user/viewReserve" class = "btn btn-info" style="margin-left: 40px">Go Back</button>

    </div>
</div>

