<div class="reservation-details">
    <h2>Staff Details</h2>
    <div class="detail">
        <span class="label">Name:   </span>
        <span class="value">{{staff.name}}</span>
    </div>
    <div class="detail">
        <span class="label">Address:   </span>
        <span class="value">{{staff.address}}</span>
    </div>
    <div class="detail">
        <span class="label">Salary:   </span>
        <span class="value">{{staff.salary}}</span>
    </div>
    <div class="detail">
        <span class="label">Occupation:   </span>
        <span class="value">{{staff.occupation}}</span>
    </div>
    <div class="detail">
        <span class="label">Email:   </span>
        <span class="value">{{staff.email}}</span>
    </div>
   

    <!-- <div class="check" style="margin-top: 20px; text-align:center ;">
        <button  class="btn btn-primary" type="submit">Checkout</button>
    </div> -->
    <button routerLink="/manager/get" class = "btn btn-info" style="margin-left: 40px">Go Back</button>
</div>

